// _contact.scss
@use "../abstracts/_variables.scss";

.contact {
    background-color: variables.$fourth-color;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &__container {
        background-color: variables.$second-color;
        max-height: 800px;
        margin: 0 auto;
        border-radius: 8px;
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold;
    }

    &__form {
        display: flex;
        flex-direction: column;

        &--input,
        &--textarea {
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1rem;
        }
    }

    &__button {
        color: variables.$color-black;
        background-color: variables.$third-color;
        padding: 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: variables.$first-color;
        }
    }
}