// _variables.scss
$first-color: #adb2d4;
$second-color: #c7d9dd;
$third-color: #d5e5d5;
$fourth-color: #eef1da;
$color-black: #000000;

//asdadsasd

//_ficha.scss
$color-fondo-body: #d5e5d5;
$color-texto: #333;
$color-header: #adb2d4;
$color-ficha: #b6bce2;
$color-boton: #25d366;
$color-boton-hover: #1ebe5d;
$color-footer: #888;
$color-card: #adb2d4;
$fuente-principal: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fuente-secundaria: "Arial";


//// _about.scss
$color-text: #333;
$color-bg: #d5e5d5;
$color-nosotros-bg: #d5e5d5;
$color-nosotros-section-bg: #c7d9dd;
$color-footer-bg: #888888;
$font-family-base: "Arial", sans-serif;
$font-size-title: 2rem;     
$font-size-text: 1rem;
$font-size-subtitle: 1.5rem;    
$font-size-title-medium: 1.8rem;    

//footer.scss